<section class="single-post-container">

    <div class="post-meta-container">
        {{> post-info post}}


        {{#if loggedIn}}
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">add comment</button>
            </div>
        </form>
    </div>
    {{/if}}

    <div class="comments">
        <h2 class="comments-header">comments</h2>
        {{> comments post.comments}}
    </div>
</section>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}